@import "normalize.css";

$monokai-black: #272822;
$monokai-black-highlight: #49483e;
$monokai-red: #f92672;
$monokai-blue: #66d9ef;
$monokai-green: #a6e22e;
$monokai-orange: #fd971f;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: $monokai-black;

  & > * {
    padding: 1em;
  }
}

.header {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: color($monokai-black lightness(-5%));
  box-shadow: 0 10px 15px 0 color($monokai-black lightness(-12%));
  z-index: 1;

  & * {
    display: inline;
  }

  & .title {
    flex: 1 1 auto;
    text-align: left;
    color: $monokai-red;
  }

  & .lesson {
    flex: 1 1 auto;
    text-align: right;

    & * {
      color: $monokai-green;
    }

    & a:hover {
      cursor: pointer;
    }
  }
}

.main {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: row;

  & .editor {
    flex: 1 1 auto;

    & .CodeMirror {
      height: 100%;
      margin-right: 20px;
      border: 2px solid $monokai-black-highlight;
    }

    & .CodeMirror-gutters {
      padding-right: 1em;
      border-right: 2px solid $monokai-black-highlight;
    }
  }

  & .view {
    display: flex;
    flex-direction: column;

    & #canvasView {
      flex: 1 1 auto;
      min-height: 0;
      border: 2px $monokai-black-highlight solid;
      background-color: #fff;
    }

    & #errorView {
      flex: 0 0 auto;
      margin-bottom: 0;
      padding: 1em;

      &.success {
        border: 2px solid #55bc14;
        background-color: #94e562;
      }

      &.error {
        border: 2px solid #f23518;
        background-color: #f28b7b;
      }
    }
  }
}

.footer {
  margin-top: 5px;
  background-color: color($monokai-black lightness(-5%));
  box-shadow: 0 -10px 15px 0 color($monokai-black lightness(-12%));
  z-index: 1;
  color: $monokai-blue;
}
