$monokai-black: #272822;
$monokai-black-highlight: #49483E;
$monokai-red: #F92672;
$monokai-blue: #66D9EF;
$monokai-green: #A6E22E;
$monokai-orange: #FD971F;

body {
  background-color: $monokai-black;

  margin: 0;
  padding: 0;

  height: 100vh;

  font-size: 14px;

  display: flex;
  flex-direction: column;

  & > * {
    padding: 1em;
  }
}

.header {
  background-color: color($monokai-black lightness(-5%));
  box-shadow: 0px 10px 15px 0px color($monokai-black lightness(-12%));
  margin-bottom: 5px;
  z-index: 1;

  color: $monokai-red;

  & * {
    display: inline;
  }
}

.main {
  flex: 1 1 auto;

  height: 100%;

  display: flex;
  flex-direction: row;

  & .CodeMirror {
    border: 2px solid $monokai-black-highlight;

    height: 100%;
    flex: 1 1 auto;

    margin-right: 20px;
  }

  & .CodeMirror-gutters {
    padding-right: 1em;
    border-right: 2px solid $monokai-black-highlight;
  }

  & .view {
    display: flex;
    flex-direction: column;

    & canvas {
      align-self: flex-start;

      background-color: #FFFFFF;
      border: 2px $monokai-black-highlight solid;
    }

    & pre {
      flex: 1 1 auto;
      padding: 1em;
      margin-bottom: 0;

      &.success {
        background-color: #94e562;
        border: 2px solid #55bc14;
      }

      &.error {
        background-color: #F28B7B;
        border: 2px solid #F23518;
      }
    }
  }
}

.footer {
  background-color: color($monokai-black lightness(-5%));
  box-shadow: 0px -10px 15px 0px color($monokai-black lightness(-12%));
  margin-top: 5px;
  z-index: 1;

  color: $monokai-blue;
}
